div[clicked="clicked"] {
    background-color:rgb(243, 161, 61)
}

div[clicked="unclicked"]{
    background-color:beige
}

.square{
    height:100px;
    width:100px;
    text-align:center;
    text-decoration:none;
    color: white;
    font-size:x-large;
    border:none;
    display:inline-block;
    margin: 2px;
    vertical-align: middle;
    line-height: 100px;
}

.gameWindow{
    display:flex;
    flex-direction:column;
}

.gameRow{
    display:flex;
}

#app{
    display:flex;
    background-color: white;
    align-items: center;
    justify-content: space-around;
}