div[clicked="clicked"] {
    background-color:rgb(243, 161, 61)
}

div[clicked="unclicked"]{
    background-color:beige
}

div[value="2"]{
    background-color: rgb(247, 214, 174);
}

div[value="4"]{
    background-color: rgb(247, 188, 116);
}

div[value="8"]{
    background-color:rgb(250, 169, 70) ;
}

div[value="16"]{
    background-color: rgb(249, 140, 8);
}

div[value="32"]{
    background-color: rgb(253, 117, 33);   
}

div[value="64"]{
    background-color: rgb(242, 83, 15);
}

div[value="128"]{
    background-color: rgb(254, 73, 73);
}

div[value="256"]{
    background-color: rgb(249, 47, 40);
}

div[value="512"]{
    background-color:rgb(255, 22, 5);
}

div[value="1024"]{
    background-color: rgb(201, 0, 0);
}

div[value="2048"]{
    background-color: rgb(159, 41, 17);
}

.square{
    height:100px;
    width:100px;
    text-align:center;
    text-decoration:none;
    color: white;
    font-size:xx-large;
    border:none;
    display:inline-block;
    margin: 2px;
    vertical-align: middle;
    line-height: 100px;
    font-family:'Tahoma';
}

#gameBoard{
    display:flex;
    flex-direction:column;
}

#timer{
    font-size:xx-large;
}

#gameWindow{
    display:flex;
}

.gameRow{
    display:flex;
}

#app{
    display:flex;
    background-color: white;
    align-items: center;
    justify-content: space-around;
}